PORT=3000
HOST=0.0.0.0
DATABASE_PATH=data/genealogia.sqlite
PUBLIC_ORIGIN=https://genealogiasefardi.site
TREE_HOST=tree.genealogiasefardi.site
FAMILYSEARCH_CLIENT_ID=
FAMILYSEARCH_REDIRECT_URI=https://genealogiasefardi.site/familysearch/callback
INEGI_TOKEN=
GEONAMES_USERNAME=
EUROPEANA_WSKEY=
HISTORYPIN_PROJECT=
